<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file -->
	<context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->

	<!-- Beans for FortuneService implementations -->
	    
    <bean id="happyFortuneService"
    	class="com.gallelloit.spring.service.HappyFortuneService">
    </bean>
    
    <bean id="randomFortuneService"
    	class="com.gallelloit.spring.service.RandomFortuneService">
    </bean>

	<!-- Beans for Coach implementations -->

    <bean id="myCricketCoach"
    	class="com.gallelloit.spring.business.CricketCoach">
    	
    	<property name="fortuneService" ref="randomFortuneService"></property>
    	<property name="emailAddress" value="${foo.email}"></property>
    	<property name="team" value="${foo.team}"></property>
    	
    </bean>
    
    <bean id="myTrackCoach"
    	class="com.gallelloit.spring.business.CricketCoach">
    	
    	<property name="fortuneService" ref="happyFortuneService"></property>
    	
    </bean>
    
</beans>





